$font-size-small: 12px;
$header-background-color: #404b53;
$nav-item-hover-color: #61727e;
$header-height: 0px;
$primary-color: #0079ce;
$secondary-color: #464646;
$tertiary-color: #d2d2d2;
$highlight-color: #66aee1;
$disabled-color: #b2d6f0;
$white-color: #ffffff;
$header-gradient-color-left: #2b99e7;
$header-gradient-color-right: $primary-color;
