html,
body {
    margin: 0
}

.shp-box-shadow-1 {
    -webkit-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1)
}

.shp-box-shadow-2 {
    -webkit-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1)
}

.shp-box-shadow-3 {
    -webkit-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.1)
}

.shp-box-shadow-3-before:before {
    -webkit-box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.3)
}

.shp-box-shadow-4 {
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3)
}

.shp-border {
    border: 1px solid
}

.shp-border-2px {
    border: 2px solid
}

.shp-border-radius,
.shp-border,
.shp-border-2px,
.shp-border-radius-before:before,
.shp-border-radius-after:after {
    border-radius: 2px
}

.shp-spin {
    -webkit-animation: shp-spin 2s infinite linear;
    animation: shp-spin 2s infinite linear
}

@-webkit-keyframes shp-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes shp-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

.shp-disabled {
    opacity: 0.5
}

.shp-container {
    max-width: 1440px;
    display: block;
    margin: 0 auto;
    position: relative
}

.shp-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 8px 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.shp-row+.shp-row {
    padding-top: 4px
}

.shp-row .shp-col {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    padding-left: 4px;
    padding-right: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.shp-row .shp-col.shp-col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%
}

.shp-row .shp-col.shp-col-offset-1 {
    margin-left: 8.33333%
}

.shp-row .shp-col.shp-col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%
}

.shp-row .shp-col.shp-col-offset-2 {
    margin-left: 16.66667%
}

.shp-row .shp-col.shp-col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.shp-row .shp-col.shp-col-offset-3 {
    margin-left: 25%
}

.shp-row .shp-col.shp-col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%
}

.shp-row .shp-col.shp-col-offset-4 {
    margin-left: 33.33333%
}

.shp-row .shp-col.shp-col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%
}

.shp-row .shp-col.shp-col-offset-5 {
    margin-left: 41.66667%
}

.shp-row .shp-col.shp-col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.shp-row .shp-col.shp-col-offset-6 {
    margin-left: 50%
}

.shp-row .shp-col.shp-col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%
}

.shp-row .shp-col.shp-col-offset-7 {
    margin-left: 58.33333%
}

.shp-row .shp-col.shp-col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%
}

.shp-row .shp-col.shp-col-offset-8 {
    margin-left: 66.66667%
}

.shp-row .shp-col.shp-col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
}

.shp-row .shp-col.shp-col-offset-9 {
    margin-left: 75%
}

.shp-row .shp-col.shp-col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%
}

.shp-row .shp-col.shp-col-offset-10 {
    margin-left: 83.33333%
}

.shp-row .shp-col.shp-col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    max-width: 91.66667%
}

.shp-row .shp-col.shp-col-offset-11 {
    margin-left: 91.66667%
}

.shp-row .shp-col.shp-col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

.shp-row .shp-col.shp-col-offset-12 {
    margin-left: 100%
}

@media screen and (max-width:376px) {
    .shp-row .shp-col {
        padding-left: 4px;
        padding-right: 4px
    }
}

.shp-bluck-darken-10-fg {
    color: #2a3136
}

.shp-bluck-darken-10-bg {
    background-color: #2a3136
}

.shp-bluck-darken-10-border {
    border-color: #2a3136
}

.shp-bluck-darken-10-fg-after:after {
    color: #2a3136
}

.shp-bluck-darken-10-bg-after:after {
    background-color: #2a3136
}

.shp-bluck-darken-10-stroke {
    stroke: #2a3136
}

.shp-bluck-darken-10-fill {
    fill: #2a3136
}

.shp-bluck-darken-10-border-after:after {
    border-color: #2a3136
}

.shp-bluck-darken-10-fg-before:before {
    color: #2a3136
}

.shp-bluck-darken-10-bg-before:before {
    background-color: #2a3136
}

.shp-bluck-darken-10-border-before:before {
    border-color: #2a3136
}

.shp-bluck-darken-25-fg {
    color: #080a0b
}

.shp-bluck-darken-25-bg {
    background-color: #080a0b
}

.shp-bluck-darken-25-border {
    border-color: #080a0b
}

.shp-bluck-darken-25-fg-after:after {
    color: #080a0b
}

.shp-bluck-darken-25-bg-after:after {
    background-color: #080a0b
}

.shp-bluck-darken-25-stroke {
    stroke: #080a0b
}

.shp-bluck-darken-25-fill {
    fill: #080a0b
}

.shp-bluck-darken-25-border-after:after {
    border-color: #080a0b
}

.shp-bluck-darken-25-fg-before:before {
    color: #080a0b
}

.shp-bluck-darken-25-bg-before:before {
    background-color: #080a0b
}

.shp-bluck-darken-25-border-before:before {
    border-color: #080a0b
}

.shp-bluck-lighten-20-fg {
    color: #6c7f8d
}

.shp-bluck-lighten-20-bg {
    background-color: #6c7f8d
}

.shp-bluck-lighten-20-border {
    border-color: #6c7f8d
}

.shp-bluck-lighten-20-fg-after:after {
    color: #6c7f8d
}

.shp-bluck-lighten-20-bg-after:after {
    background-color: #6c7f8d
}

.shp-bluck-lighten-20-stroke {
    stroke: #6c7f8d
}

.shp-bluck-lighten-20-fill {
    fill: #6c7f8d
}

.shp-bluck-lighten-20-border-after:after {
    border-color: #6c7f8d
}

.shp-bluck-lighten-20-fg-before:before {
    color: #6c7f8d
}

.shp-bluck-lighten-20-bg-before:before {
    background-color: #6c7f8d
}

.shp-bluck-lighten-20-border-before:before {
    border-color: #6c7f8d
}

.shp-gray-lighten-20-fg {
    color: #7d7d7d
}

.shp-gray-lighten-20-bg {
    background-color: #7d7d7d
}

.shp-gray-lighten-20-border {
    border-color: #7d7d7d
}

.shp-gray-lighten-20-fg-after:after {
    color: #7d7d7d
}

.shp-gray-lighten-20-bg-after:after {
    background-color: #7d7d7d
}

.shp-gray-lighten-20-stroke {
    stroke: #7d7d7d
}

.shp-gray-lighten-20-fill {
    fill: #7d7d7d
}

.shp-gray-lighten-20-border-after:after {
    border-color: #7d7d7d
}

.shp-gray-lighten-20-fg-before:before {
    color: #7d7d7d
}

.shp-gray-lighten-20-bg-before:before {
    background-color: #7d7d7d
}

.shp-gray-lighten-20-border-before:before {
    border-color: #7d7d7d
}

.shp-gray-lighten-60-fg {
    color: #e3e3e3
}

.shp-gray-lighten-60-bg {
    background-color: #e3e3e3
}

.shp-gray-lighten-60-border {
    border-color: #e3e3e3
}

.shp-gray-lighten-60-fg-after:after {
    color: #e3e3e3
}

.shp-gray-lighten-60-bg-after:after {
    background-color: #e3e3e3
}

.shp-gray-lighten-60-stroke {
    stroke: #e3e3e3
}

.shp-gray-lighten-60-fill {
    fill: #e3e3e3
}

.shp-gray-lighten-60-border-after:after {
    border-color: #e3e3e3
}

.shp-gray-lighten-60-fg-before:before {
    color: #e3e3e3
}

.shp-gray-lighten-60-bg-before:before {
    background-color: #e3e3e3
}

.shp-gray-lighten-60-border-before:before {
    border-color: #e3e3e3
}

.shp-silver-darken-10-fg {
    color: gainsboro
}

.shp-silver-darken-10-bg {
    background-color: gainsboro
}

.shp-silver-darken-10-border {
    border-color: gainsboro
}

.shp-silver-darken-10-fg-after:after {
    color: gainsboro
}

.shp-silver-darken-10-bg-after:after {
    background-color: gainsboro
}

.shp-silver-darken-10-stroke {
    stroke: gainsboro
}

.shp-silver-darken-10-fill {
    fill: gainsboro
}

.shp-silver-darken-10-border-after:after {
    border-color: gainsboro
}

.shp-silver-darken-10-fg-before:before {
    color: gainsboro
}

.shp-silver-darken-10-bg-before:before {
    background-color: gainsboro
}

.shp-silver-darken-10-border-before:before {
    border-color: gainsboro
}

.shp-bray-darken-10-fg {
    color: #b9c7ce
}

.shp-bray-darken-10-bg {
    background-color: #b9c7ce
}

.shp-bray-darken-10-border {
    border-color: #b9c7ce
}

.shp-bray-darken-10-fg-after:after {
    color: #b9c7ce
}

.shp-bray-darken-10-bg-after:after {
    background-color: #b9c7ce
}

.shp-bray-darken-10-stroke {
    stroke: #b9c7ce
}

.shp-bray-darken-10-fill {
    fill: #b9c7ce
}

.shp-bray-darken-10-border-after:after {
    border-color: #b9c7ce
}

.shp-bray-darken-10-fg-before:before {
    color: #b9c7ce
}

.shp-bray-darken-10-bg-before:before {
    background-color: #b9c7ce
}

.shp-bray-darken-10-border-before:before {
    border-color: #b9c7ce
}

.shp-bray-darken-15-fg {
    color: #aabbc4
}

.shp-bray-darken-15-bg {
    background-color: #aabbc4
}

.shp-bray-darken-15-border {
    border-color: #aabbc4
}

.shp-bray-darken-15-fg-after:after {
    color: #aabbc4
}

.shp-bray-darken-15-bg-after:after {
    background-color: #aabbc4
}

.shp-bray-darken-15-stroke {
    stroke: #aabbc4
}

.shp-bray-darken-15-fill {
    fill: #aabbc4
}

.shp-bray-darken-15-border-after:after {
    border-color: #aabbc4
}

.shp-bray-darken-15-fg-before:before {
    color: #aabbc4
}

.shp-bray-darken-15-bg-before:before {
    background-color: #aabbc4
}

.shp-bray-darken-15-border-before:before {
    border-color: #aabbc4
}

.shp-bray-lighten-50-fg {
    color: #ebf0f3
}

.shp-bray-lighten-50-bg {
    background-color: #ebf0f3
}

.shp-bray-lighten-50-border {
    border-color: #ebf0f3
}

.shp-bray-lighten-50-fg-after:after {
    color: #ebf0f3
}

.shp-bray-lighten-50-bg-after:after {
    background-color: #ebf0f3
}

.shp-bray-lighten-50-stroke {
    stroke: #ebf0f3
}

.shp-bray-lighten-50-fill {
    fill: #ebf0f3
}

.shp-bray-lighten-50-border-after:after {
    border-color: #ebf0f3
}

.shp-bray-lighten-50-fg-before:before {
    color: #ebf0f3
}

.shp-bray-lighten-50-bg-before:before {
    background-color: #ebf0f3
}

.shp-bray-lighten-50-border-before:before {
    border-color: #ebf0f3
}

.shp-bray-lighten-70-fg {
    color: #f3f5f6
}

.shp-bray-lighten-70-bg {
    background-color: #f3f5f6
}

.shp-bray-lighten-70-border {
    border-color: #f3f5f6
}

.shp-bray-lighten-70-fg-after:after {
    color: #f3f5f6
}

.shp-bray-lighten-70-bg-after:after {
    background-color: #f3f5f6
}

.shp-bray-lighten-70-stroke {
    stroke: #f3f5f6
}

.shp-bray-lighten-70-fill {
    fill: #f3f5f6
}

.shp-bray-lighten-70-border-after:after {
    border-color: #f3f5f6
}

.shp-bray-lighten-70-fg-before:before {
    color: #f3f5f6
}

.shp-bray-lighten-70-bg-before:before {
    background-color: #f3f5f6
}

.shp-bray-lighten-70-border-before:before {
    border-color: #f3f5f6
}

.shp-bray-lighten-80-fg {
    color: #f7f9f9
}

.shp-bray-lighten-80-bg {
    background-color: #f7f9f9
}

.shp-bray-lighten-80-border {
    border-color: #f7f9f9
}

.shp-bray-lighten-80-fg-after:after {
    color: #f7f9f9
}

.shp-bray-lighten-80-bg-after:after {
    background-color: #f7f9f9
}

.shp-bray-lighten-80-stroke {
    stroke: #f7f9f9
}

.shp-bray-lighten-80-fill {
    fill: #f7f9f9
}

.shp-bray-lighten-80-border-after:after {
    border-color: #f7f9f9
}

.shp-bray-lighten-80-fg-before:before {
    color: #f7f9f9
}

.shp-bray-lighten-80-bg-before:before {
    background-color: #f7f9f9
}

.shp-bray-lighten-80-border-before:before {
    border-color: #f7f9f9
}

.shp-brand-01-darken-20-fg {
    color: #1f5c1d
}

.shp-brand-01-darken-20-bg {
    background-color: #1f5c1d
}

.shp-brand-01-darken-20-border {
    border-color: #1f5c1d
}

.shp-brand-01-darken-20-fg-after:after {
    color: #1f5c1d
}

.shp-brand-01-darken-20-bg-after:after {
    background-color: #1f5c1d
}

.shp-brand-01-darken-20-stroke {
    stroke: #1f5c1d
}

.shp-brand-01-darken-20-fill {
    fill: #1f5c1d
}

.shp-brand-01-darken-20-border-after:after {
    border-color: #1f5c1d
}

.shp-brand-01-darken-20-fg-before:before {
    color: #1f5c1d
}

.shp-brand-01-darken-20-bg-before:before {
    background-color: #1f5c1d
}

.shp-brand-01-darken-20-border-before:before {
    border-color: #1f5c1d
}

.shp-brand-01-lighten-20-fg {
    color: #76d273
}

.shp-brand-01-lighten-20-bg {
    background-color: #76d273
}

.shp-brand-01-lighten-20-border {
    border-color: #76d273
}

.shp-brand-01-lighten-20-fg-after:after {
    color: #76d273
}

.shp-brand-01-lighten-20-bg-after:after {
    background-color: #76d273
}

.shp-brand-01-lighten-20-stroke {
    stroke: #76d273
}

.shp-brand-01-lighten-20-fill {
    fill: #76d273
}

.shp-brand-01-lighten-20-border-after:after {
    border-color: #76d273
}

.shp-brand-01-lighten-20-fg-before:before {
    color: #76d273
}

.shp-brand-01-lighten-20-bg-before:before {
    background-color: #76d273
}

.shp-brand-01-lighten-20-border-before:before {
    border-color: #76d273
}

.shp-brand-02-darken-20-fg {
    color: #5fb662
}

.shp-brand-02-darken-20-bg {
    background-color: #5fb662
}

.shp-brand-02-darken-20-border {
    border-color: #5fb662
}

.shp-brand-02-darken-20-fg-after:after {
    color: #5fb662
}

.shp-brand-02-darken-20-bg-after:after {
    background-color: #5fb662
}

.shp-brand-02-darken-20-stroke {
    stroke: #5fb662
}

.shp-brand-02-darken-20-fill {
    fill: #5fb662
}

.shp-brand-02-darken-20-border-after:after {
    border-color: #5fb662
}

.shp-brand-02-darken-20-fg-before:before {
    color: #5fb662
}

.shp-brand-02-darken-20-bg-before:before {
    background-color: #5fb662
}

.shp-brand-02-darken-20-border-before:before {
    border-color: #5fb662
}

.shp-brand-02-lighten-15-fg {
    color: #daeeda
}

.shp-brand-02-lighten-15-bg {
    background-color: #daeeda
}

.shp-brand-02-lighten-15-border {
    border-color: #daeeda
}

.shp-brand-02-lighten-15-fg-after:after {
    color: #daeeda
}

.shp-brand-02-lighten-15-bg-after:after {
    background-color: #daeeda
}

.shp-brand-02-lighten-15-stroke {
    stroke: #daeeda
}

.shp-brand-02-lighten-15-fill {
    fill: #daeeda
}

.shp-brand-02-lighten-15-border-after:after {
    border-color: #daeeda
}

.shp-brand-02-lighten-15-fg-before:before {
    color: #daeeda
}

.shp-brand-02-lighten-15-bg-before:before {
    background-color: #daeeda
}

.shp-brand-02-lighten-15-border-before:before {
    border-color: #daeeda
}

.shp-brand-02-lighten-30-fg {
    color: #e4f2e4
}

.shp-brand-02-lighten-30-bg {
    background-color: #e4f2e4
}

.shp-brand-02-lighten-30-border {
    border-color: #e4f2e4
}

.shp-brand-02-lighten-30-fg-after:after {
    color: #e4f2e4
}

.shp-brand-02-lighten-30-bg-after:after {
    background-color: #e4f2e4
}

.shp-brand-02-lighten-30-stroke {
    stroke: #e4f2e4
}

.shp-brand-02-lighten-30-fill {
    fill: #e4f2e4
}

.shp-brand-02-lighten-30-border-after:after {
    border-color: #e4f2e4
}

.shp-brand-02-lighten-30-fg-before:before {
    color: #e4f2e4
}

.shp-brand-02-lighten-30-bg-before:before {
    background-color: #e4f2e4
}

.shp-brand-02-lighten-30-border-before:before {
    border-color: #e4f2e4
}

.shp-support-red-01-lighten-20-fg {
    color: #f38585
}

.shp-support-red-01-lighten-20-bg {
    background-color: #f38585
}

.shp-support-red-01-lighten-20-border {
    border-color: #f38585
}

.shp-support-red-01-lighten-20-fg-after:after {
    color: #f38585
}

.shp-support-red-01-lighten-20-bg-after:after {
    background-color: #f38585
}

.shp-support-red-01-lighten-20-stroke {
    stroke: #f38585
}

.shp-support-red-01-lighten-20-fill {
    fill: #f38585
}

.shp-support-red-01-lighten-20-border-after:after {
    border-color: #f38585
}

.shp-support-red-01-lighten-20-fg-before:before {
    color: #f38585
}

.shp-support-red-01-lighten-20-bg-before:before {
    background-color: #f38585
}

.shp-support-red-01-lighten-20-border-before:before {
    border-color: #f38585
}

.shp-support-red-01-darken-20-fg {
    color: #BB2020
}

.shp-support-red-01-darken-20-bg {
    background-color: #BB2020
}

.shp-support-red-01-darken-20-border {
    border-color: #BB2020
}

.shp-support-red-01-darken-20-fg-after:after {
    color: #BB2020
}

.shp-support-red-01-darken-20-bg-after:after {
    background-color: #BB2020
}

.shp-support-red-01-darken-20-stroke {
    stroke: #BB2020
}

.shp-support-red-01-darken-20-fill {
    fill: #BB2020
}

.shp-support-red-01-darken-20-border-after:after {
    border-color: #BB2020
}

.shp-support-red-01-darken-20-fg-before:before {
    color: #BB2020
}

.shp-support-red-01-darken-20-bg-before:before {
    background-color: #BB2020
}

.shp-support-red-01-darken-20-border-before:before {
    border-color: #BB2020
}

.shp-white-prime-fg {
    color: #fff
}

.shp-white-prime-bg {
    background-color: #fff
}

.shp-white-prime-border {
    border-color: #fff
}

.shp-white-prime-fg-after:after {
    color: #fff
}

.shp-white-prime-bg-after:after {
    background-color: #fff
}

.shp-white-prime-stroke {
    stroke: #fff
}

.shp-white-prime-fill {
    fill: #fff
}

.shp-white-prime-border-after:after {
    border-color: #fff
}

.shp-white-prime-fg-before:before {
    color: #fff
}

.shp-white-prime-bg-before:before {
    background-color: #fff
}

.shp-white-prime-border-before:before {
    border-color: #fff
}

.shp-bluck-prime-fg {
    color: #404b53
}

.shp-bluck-prime-bg {
    background-color: #404b53
}

.shp-bluck-prime-border {
    border-color: #404b53
}

.shp-bluck-prime-fg-after:after {
    color: #404b53
}

.shp-bluck-prime-bg-after:after {
    background-color: #404b53
}

.shp-bluck-prime-stroke {
    stroke: #404b53
}

.shp-bluck-prime-fill {
    fill: #404b53
}

.shp-bluck-prime-border-after:after {
    border-color: #404b53
}

.shp-bluck-prime-fg-before:before {
    color: #404b53
}

.shp-bluck-prime-bg-before:before {
    background-color: #404b53
}

.shp-bluck-prime-border-before:before {
    border-color: #404b53
}

.shp-gray-prime-fg {
    color: #4a4a4a
}

.shp-gray-prime-bg {
    background-color: #4a4a4a
}

.shp-gray-prime-border {
    border-color: #4a4a4a
}

.shp-gray-prime-fg-after:after {
    color: #4a4a4a
}

.shp-gray-prime-bg-after:after {
    background-color: #4a4a4a
}

.shp-gray-prime-stroke {
    stroke: #4a4a4a
}

.shp-gray-prime-fill {
    fill: #4a4a4a
}

.shp-gray-prime-border-after:after {
    border-color: #4a4a4a
}

.shp-gray-prime-fg-before:before {
    color: #4a4a4a
}

.shp-gray-prime-bg-before:before {
    background-color: #4a4a4a
}

.shp-gray-prime-border-before:before {
    border-color: #4a4a4a
}

.shp-silver-prime-fg {
    color: #f5f5f5
}

.shp-silver-prime-bg {
    background-color: #f5f5f5
}

.shp-silver-prime-border {
    border-color: #f5f5f5
}

.shp-silver-prime-fg-after:after {
    color: #f5f5f5
}

.shp-silver-prime-bg-after:after {
    background-color: #f5f5f5
}

.shp-silver-prime-stroke {
    stroke: #f5f5f5
}

.shp-silver-prime-fill {
    fill: #f5f5f5
}

.shp-silver-prime-border-after:after {
    border-color: #f5f5f5
}

.shp-silver-prime-fg-before:before {
    color: #f5f5f5
}

.shp-silver-prime-bg-before:before {
    background-color: #f5f5f5
}

.shp-silver-prime-border-before:before {
    border-color: #f5f5f5
}

.shp-bray-prime-fg {
    color: #d7dfe3
}

.shp-bray-prime-bg {
    background-color: #d7dfe3
}

.shp-bray-prime-border {
    border-color: #d7dfe3
}

.shp-bray-prime-fg-after:after {
    color: #d7dfe3
}

.shp-bray-prime-bg-after:after {
    background-color: #d7dfe3
}

.shp-bray-prime-stroke {
    stroke: #d7dfe3
}

.shp-bray-prime-fill {
    fill: #d7dfe3
}

.shp-bray-prime-border-after:after {
    border-color: #d7dfe3
}

.shp-bray-prime-fg-before:before {
    color: #d7dfe3
}

.shp-bray-prime-bg-before:before {
    background-color: #d7dfe3
}

.shp-bray-prime-border-before:before {
    border-color: #d7dfe3
}

.shp-brand-01-prime-fg {
    color: #3aa936
}

.shp-brand-01-prime-bg {
    background-color: #3aa936
}

.shp-brand-01-prime-border {
    border-color: #3aa936
}

.shp-brand-01-prime-fg-after:after {
    color: #3aa936
}

.shp-brand-01-prime-bg-after:after {
    background-color: #3aa936
}

.shp-brand-01-prime-stroke {
    stroke: #3aa936
}

.shp-brand-01-prime-fill {
    fill: #3aa936
}

.shp-brand-01-prime-border-after:after {
    border-color: #3aa936
}

.shp-brand-01-prime-fg-before:before {
    color: #3aa936
}

.shp-brand-01-prime-bg-before:before {
    background-color: #3aa936
}

.shp-brand-01-prime-border-before:before {
    border-color: #3aa936
}

.shp-brand-02-prime-fg {
    color: #a5d6a7
}

.shp-brand-02-prime-bg {
    background-color: #a5d6a7
}

.shp-brand-02-prime-border {
    border-color: #a5d6a7
}

.shp-brand-02-prime-fg-after:after {
    color: #a5d6a7
}

.shp-brand-02-prime-bg-after:after {
    background-color: #a5d6a7
}

.shp-brand-02-prime-stroke {
    stroke: #a5d6a7
}

.shp-brand-02-prime-fill {
    fill: #a5d6a7
}

.shp-brand-02-prime-border-after:after {
    border-color: #a5d6a7
}

.shp-brand-02-prime-fg-before:before {
    color: #a5d6a7
}

.shp-brand-02-prime-bg-before:before {
    background-color: #a5d6a7
}

.shp-brand-02-prime-border-before:before {
    border-color: #a5d6a7
}

.shp-support-red-01-fg {
    color: #ea2828
}

.shp-support-red-01-bg {
    background-color: #ea2828
}

.shp-support-red-01-border {
    border-color: #ea2828
}

.shp-support-red-01-fg-after:after {
    color: #ea2828
}

.shp-support-red-01-bg-after:after {
    background-color: #ea2828
}

.shp-support-red-01-stroke {
    stroke: #ea2828
}

.shp-support-red-01-fill {
    fill: #ea2828
}

.shp-support-red-01-border-after:after {
    border-color: #ea2828
}

.shp-support-red-01-fg-before:before {
    color: #ea2828
}

.shp-support-red-01-bg-before:before {
    background-color: #ea2828
}

.shp-support-red-01-border-before:before {
    border-color: #ea2828
}

.shp-support-green-01-fg {
    color: #2fa32b
}

.shp-support-green-01-bg {
    background-color: #2fa32b
}

.shp-support-green-01-border {
    border-color: #2fa32b
}

.shp-support-green-01-fg-after:after {
    color: #2fa32b
}

.shp-support-green-01-bg-after:after {
    background-color: #2fa32b
}

.shp-support-green-01-stroke {
    stroke: #2fa32b
}

.shp-support-green-01-fill {
    fill: #2fa32b
}

.shp-support-green-01-border-after:after {
    border-color: #2fa32b
}

.shp-support-green-01-fg-before:before {
    color: #2fa32b
}

.shp-support-green-01-bg-before:before {
    background-color: #2fa32b
}

.shp-support-green-01-border-before:before {
    border-color: #2fa32b
}

.shp-support-01-fg {
    color: #4990e2
}

.shp-support-01-bg {
    background-color: #4990e2
}

.shp-support-01-border {
    border-color: #4990e2
}

.shp-support-01-fg-after:after {
    color: #4990e2
}

.shp-support-01-bg-after:after {
    background-color: #4990e2
}

.shp-support-01-stroke {
    stroke: #4990e2
}

.shp-support-01-fill {
    fill: #4990e2
}

.shp-support-01-border-after:after {
    border-color: #4990e2
}

.shp-support-01-fg-before:before {
    color: #4990e2
}

.shp-support-01-bg-before:before {
    background-color: #4990e2
}

.shp-support-01-border-before:before {
    border-color: #4990e2
}

.shp-support-02-fg {
    color: #ffd25a
}

.shp-support-02-bg {
    background-color: #ffd25a
}

.shp-support-02-border {
    border-color: #ffd25a
}

.shp-support-02-fg-after:after {
    color: #ffd25a
}

.shp-support-02-bg-after:after {
    background-color: #ffd25a
}

.shp-support-02-stroke {
    stroke: #ffd25a
}

.shp-support-02-fill {
    fill: #ffd25a
}

.shp-support-02-border-after:after {
    border-color: #ffd25a
}

.shp-support-02-fg-before:before {
    color: #ffd25a
}

.shp-support-02-bg-before:before {
    background-color: #ffd25a
}

.shp-support-02-border-before:before {
    border-color: #ffd25a
}

.shp-gradient-bg {
    background-image: linear-gradient(82deg, #42843e, #6dd16f 22%, #72afd3)
}

.shp-text-style-h1 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    font-family: "Open Sans"
}

.shp-text-style-h2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    font-family: "Open Sans"
}

.shp-text-style-h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-family: "Open Sans"
}

.shp-text-style-h4 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    font-family: "Open Sans"
}

.shp-text-style-h5 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    font-family: "Open Sans"
}

.shp-text-style-h6 {
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    font-family: "Open Sans"
}

.shp-text-style-x-large {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    font-family: "Open Sans"
}

.shp-text-style-base {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Open Sans"
}

.shp-text-style-body {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: "Open Sans"
}

.shp-text-style-body-bold {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    font-family: "Open Sans"
}

.shp-text-style-label {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    font-family: "Open Sans"
}

.shp-text-style-label-bold {
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    font-family: "Open Sans"
}

.shp-text-style-button {
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    font-family: "Open Sans"
}

.shp-text-align-left {
    text-align: left
}

.shp-text-align-center {
    text-align: center
}

.shp-text-align-right {
    text-align: right
}