@import 'styles/_variables.scss';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'styles/style.css';
body {
    padding-top: $header-height;
    font-size: $font-size-small;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: $primary-color;
}

.mat-card-header-text {
    margin: 0 !important;
}

.mat-dialog-container {
    overflow: hidden !important;
}