<div class="webcam-container {{ mode }}"
     *ngIf="visible$ | async">
    <div class="webcam">
        <div class="detection-container">
            <ack-webcam
                [(ref)]="webcam"
                [options]="options"
                (success)="onCamSuccess($event)"
                (catch)="onCamError($event)"
            ></ack-webcam>
            <div *ngFor="let face of faces"
                 class="detection-frame"
                 [ngClass]="{ 'unknown' : !face.isKnown }"
                 [style.width.px]= "face.rectangle.percent ? face.rectangle.width * width : face.rectangle.width"
                 [style.height.px]="face.rectangle.percent ? face.rectangle.height * height : face.rectangle.height"
                 [style.top.px]="face.rectangle.percent ? face.rectangle.top * height : face.rectangle.top  "
                 [style.left.px]="face.rectangle.percent ? face.rectangle.left * width : face.rectangle.left">
                <div *ngIf="face.candidates.length > 0" class="info">
                    <span>{{ face.candidates[0].name }} {{ face.candidates[0].confidence }}%</span>
                </div>
                <div class="info bottom-info">
                    <span *ngIf="face.attributes && face.attributes.age" class="attributes">
                        Age: {{ face.attributes.age }}
                    </span>
                    <span *ngIf="face.attributes && face.attributes.age_uncertainty" class="age-uncertainty">
                        ±{{ face.attributes.age_uncertainty }}
                    </span>
                </div>
            </div>
        </div>
        <ack-media-devices
            [(videoInputs)]="webcamDevices"
        ></ack-media-devices>
        <div class="webcam-controls" *ngIf="mode != availableWebcamModes.presentation">
            <div>
                <select class="control"
                        (change)="selectWebcam($event.target.selectedIndex)">
                    <option *ngFor="let device of webcamDevices">
                        {{ (device.label) ? device.label : device.deviceId }}
                    </option>
                </select>
                <button class="control"
                        (click)="playPauseWebcam($event)"
                        [disabled]="!isWebcamStarted()">
                    {{ webcamPlayPauseButtonText }}
                </button>
                <button class="control"
                        (click)="startStopWebcam($event)">
                    {{ webcamStartStopButtonText }}
                </button>
            </div>
            <button class="control {{ mode }}"
                    (click)="captureImage()">
                Take Photo
            </button>
            <button class="control {{ mode }}"
                    (click)="hide()">
                Close
            </button>
        </div>
    </div>
</div>

