@import '../../styles/_variables.scss';

.webcam-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.popup {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        .webcam {
            box-shadow: 1px 1px 1px 1px black;
            background-color: white;
            border-bottom: none;
            padding: 12px;
            margin-bottom: 0;
        }
    }

    &.presentation {
        .webcam {
            border: none;
            padding: 0;
            margin: 0;
        }
    }

    .webcam {
        padding: 12px 12px 3px 12px;
        border-bottom: solid 1px black;
        margin-bottom: 8px;

        .detection-container {
            position: relative;

            .detection-frame {
                position: absolute;
                border: 4px solid;
                color: #43b970;

                &.unknown {
                    color: $primary-color;
                }

                .info {
                    position: absolute;
                    top: -55px;
                    font-size: 28px;
                    white-space: nowrap;
                    background-color: rgba(255, 255, 255, 0.6);
                    padding: 4px;
                    border-radius: 4px;
                }

                .bottom-info {
                    bottom: -55px;
                    top: initial;
                }
            }
        }
    }
}

.webcam-controls {
    text-align: center;

    .control {
        margin: 6px;

        &.embedded {
            display: none;
        }
    }
}
