<div class="showcase_header">
    <app-svg-icon [id]="'user'" [size]="16"></app-svg-icon>
    <span>Facerecognition</span>
</div>
<app-webcam
    [height]="webcamSize.height"
    [width]="webcamSize.width"
    (newestFrame)="newWebcamFrame($event)"
    (camInit)="webcamInit($event)"
    [mode]="'presentation'"
></app-webcam>
<ng-container *ngIf="recognitionResult | async as recResult">
    <app-greeting-card *ngIf="recResult.length > 0"
                       [recognitionResult]="recResult"
                       (buttonClicked)="showPersonDialog($event)"></app-greeting-card>
</ng-container>
