@import '../../styles/_variables.scss';

:host {
    background-color: $white-color;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

.showcase_footer {
    height: 60px;
    display: flex;
    align-items: center;
    .link {
        margin-left: auto;
        font-weight: 600;
        font-size: 16px;
        color: $primary-color;
        margin-right: 24px;
        cursor: pointer;
    }
}

app-webcam {
    margin: auto;
}
