<mat-card>
    <mat-card-header>
        <img *ngIf="isKnown" mat-card-avatar src="{{ candidate.avatar }}">
            <mat-card-title>Hallo <span *ngIf="isKnown">{{ candidate.name }}</span></mat-card-title>
    </mat-card-header>
    <mat-card-content>Welcome!<span *ngIf="!isKnown">Currently we can't tell who you are.</span>
    </mat-card-content>
    <mat-card-actions>
        <app-button [label]="isKnown? 'BILDER HINZUFÜGEN' : 'PERSON HINZUFÜGEN'"
                    class="button-primary"
                    (click)="addFaceToPerson(isKnown)">
        </app-button>
    </mat-card-actions>
</mat-card>
