@import '../../styles/_variables.scss';

:host {
    position: fixed;
    top: $header-height + 30px;
    left: 30px;
    max-width: 400px;
    color: $secondary-color;

    mat-card-header {
        align-items: center;
        margin-bottom: 16px;
    }

    img {
        object-fit: cover;
        margin-right: 10px;
    }

    mat-card-title {
        font-size: 24px;
        margin: 0;
    }

    .mat-card-content {
        font-size: 18px;
        margin: 10px 0 20px 0;
    }
    mat-card-actions {
        display: flex;
        justify-content: flex-end;
        margin-left: -24px;
        margin-right: -24px;
        border-top: 1px solid $tertiary-color;
        padding: 14px 14px;

        &:last-child {
            margin-bottom: -10px;
        }
    }
}
