@import '../../styles/_variables.scss';

button {
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    font-size: 16px;

    app-svg-icon {
        margin-right: 8px;
    }

    &:hover:not([disabled]) {
        cursor: pointer;
    }
}

:host-context(.button-primary) {
    button {
        color: $primary-color;

        &:hover:not([disabled]) {
            color: $highlight-color;
        }

        &:disabled {
            color: $disabled-color;
        }
    }
}

:host-context(.button-secondary) {
    button {
        color: $secondary-color;

        &:hover:not([disabled]) {
            color: $highlight-color;
        }

        &:disabled {
            color: $tertiary-color;
        }
    }
}

:host-context(.button-tertiary) {
    button {
        color: $white-color;
        background-color: $primary-color;
        padding: 6px 12px;
        font-size: inherit;

        &:hover:not([disabled]) {
            background-color: $highlight-color;
        }

        &:disabled {
            background-color: $disabled-color;
        }
    }
}

:host-context(.button-tertiary--inverted) {
    button {
        color: $secondary-color;
        border: 1px solid $tertiary-color;
        padding: 6px 12px;

        &:hover:not([disabled]) {
            background-color: $tertiary-color;
            color: $white-color;
        }

        &:disabled {
            color: $tertiary-color;
        }
    }
}
