@import '../../styles/_variables.scss';

:host {
    padding: 32px;
    font-family: 'Open Sans', sans-serif;
}
.add-user-form {
    display: flex;
    flex-direction: column;
}
.title {
    font-size: 28px;
    margin-bottom: 32px;
}
.name {
    margin-top: 15px;
    font-size: 16px;
    & > * {
        width: 100%;
    }
}
.preview {
    margin-bottom: 10px;
    margin-top: 8px;
    app-thumbnail {
        margin: 0 5px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
.action {
    border-top: 1px solid $tertiary-color;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    padding-top: 14px;
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;

    app-button {
        margin-left: 8px;
    }
}
.option-avatar {
    max-height: 25px;
    vertical-align: middle;
    margin-right: 5px;
}
.webcam-preview {
    position: relative;

    .countdown {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-size: 40px;
        font-weight: bold;
        text-shadow: 1px 1px black;
    }
}
.progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    span {
        margin-top: 20px;
        font-size: 20px;
    }
}
