<div class="add-user-form" *ngIf="!isLoading">
    <div class="title">{{ !!data ? 'Bilder hinzufügen' : 'Person hinzufügen'}}</div>
    <div class="webcam-preview">
        <app-webcam
            [width]="webcamSize.width"
            [height]="webcamSize.height"
            [mode]="'presentation'"
            (camInit)="camInit($event)"
            (newestFrame)="newestFrame($event)"
        ></app-webcam>
        <ng-container *ngIf="countdown$ | async as count">
            <div class="countdown" *ngIf="count > 0">{{ count }}</div>
        </ng-container>
    </div>
    <div class="preview">
        <app-thumbnail *ngFor="let img of previewImages$ | async" [imageData]="img"></app-thumbnail>
    </div>
    <app-button class="button-tertiary"
                [isDisabled]="photoTriggerActive"
                (click)="triggerPhotos()"
                [label]="'Fotos aufnehmen' | uppercase"
                [icon]="'camera'"></app-button>
    <div class="name">
        <mat-form-field>
            <input #nameInput type="text" matInput
                   [formControl]="formCtrl"
                   [matAutocomplete]="auto"
                   placeholder="Name der Person">
        </mat-form-field>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayPersonWith">
            <mat-option *ngFor="let option of options$ | async" [value]="option">
                <img class="option-avatar" [src]="option.avatar"/>
                <span>{{ option.name }}</span>
            </mat-option>
        </mat-autocomplete>
    </div>
    <div class="action">
        <app-button class="button-secondary"
                    (click)="cancelDialog()"
                    [label]="'abbrechen' | uppercase"></app-button>
        <app-button class="button-primary"
                    (click)="addPerson()"
                    [label]="'trainieren' | uppercase"
                    [isDisabled]="!formCtrl.value || newPersonImages.length == 0"></app-button>
    </div>
</div>
<div class="progress-bar" *ngIf="isLoading">
    <mat-spinner [color]="'0079ce'"></mat-spinner>
    <span>Bilder werden verarbeitet...</span>
</div>
