@import '../../styles/_variables.scss';

.message {
    position: fixed;
    top: $header-height;
    left: 25;
    right: 0;
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: dodgerblue;

    &.error {
        background-color: red;
    }

    &.success {
        background-color: forestgreen;
    }
}
