<div *ngIf="notificationService.visible$ | async" class="message" [class.error]="notificationService.error$ | async"
    [class.success]="notificationService.success$ | async"><div style="margin-left:25%">
    {{ notificationService.message$ | async }}
</div></div>