<div style="margin-left:17%">
<h1>{{ provider }}</h1>
<div class="manager">
    <div class="collections-container">
        <div class="collections">
            <div class="title">Person Collections</div>
            <div *ngFor="let collection of collections$ | async; let i = index">
                <input type="radio" name="collections"
                       [value]="collection.id"
                       [checked]="i === 0"
                       (change)="selectPersonCollection(i)">
                {{ collection.name }}
            </div>
        </div>

        <input #createPersonCollection
               class="control"
               type="text"
               (blur)="setPersonCollectionName(createPersonCollection.value)"
               (keyup)="setPersonCollectionName(createPersonCollection.value)">
        <button class="control"
                [disabled]="!validateInput(personCollectionName)"
                (click)="addCollection()">
            Create Collection
        </button>
        <button class="control"
                [disabled]="!(collectionIsEmpty$ | async)" (click)="deleteCollection()">
            Delete Collection
        </button>
        <button class="control"
                (click)="trainCollection()">
            Train Collection
        </button>
    </div>
    <div class="persons-container">
        <div *ngIf="selectedCollection$ | async as selected" class="persons">
            <div class="title">Persons in {{ selected.name }}</div>
            <div *ngFor="let person of persons$ | async; let i = index">
                <input type="radio" name="persons"
                       [value]="person.name"
                       [checked]="i === 0"
                       (change)="selectPerson(i)">
                {{ person.name }} ({{ person.faceIds?.length }})
            </div>
        </div>
        <input #createPerson
               class="control"
               type="text"
               (blur)="setPersonName(createPerson.value)"
               (keyup)="setPersonName(createPerson.value)">
        <button class="control"
                [disabled]="!validateInput(personName)"
                (click)="addPersonToCollection(image$.getValue())">
            Create Person
        </button>
        <button class="control"
                [disabled]="!(personsIsEmpty$ | async)"
                (click)="deletePersonFromCollection()">
            Delete Person
        </button>
    </div>
    <div class="face">
        <img src="{{ image$ | async }}">
        <button class="control" (click)="takePhoto()">Take Photo</button>
        <input class="control"
               type="file"
               accept="image/"
               #fileInput
               (change)="fileInputChanged($event)"/>
        <button class="control"
                [disabled]="!(image$ | async)"
                (click)="clearPhoto()">
            Clear Photo
        </button>
        <button class="control"
                [disabled]="!(personsIsEmpty$ | async) || !(image$ | async)"
                (click)="addPhotoToPersonInCollection()">
            Add to Person
        </button>
    </div>
</div>
<app-webcam [mode]="webcamModes.popup" (newestFrame)="newWebcamFrame($event)" [width]="320" [height]="240"></app-webcam>
</div>
