:host {
    h1 {
        margin-left: 10%;
    }
    .manager {
        display: flex;
        margin-left: 10%;
        > div {
            width: calc(100% / 3);
            padding: 12px;
            display: flex;
            flex-direction: column;

            .control {
                margin: 5px;
            }

            .title {
                margin-bottom: 12px;
            }
        }

        .webcam-container {
            position: absolute;
            top: 0;
        }

        .face {
            img {
                width: 100%;
                min-width: 100px;
                min-height: 100px;
                background-image: url(../../assets/images/placeholder_user.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}
