<app-webcam (newestFrame)="newWebcamFrame($event)"></app-webcam>
<div class="controls">
    Select Face Recognition Service
    <select (change)="selectFaceRecService($event.target.selectedIndex)">
        <option *ngFor="let provider of faceRecProviderKeys">
            {{ provider }}
        </option>
    </select>
    <div>
        <button [disabled]="(recognitionRunning$ | async) || !(personCollections$ | async)" (click)="start()">Start Recognition</button>
        <button [disabled]="!(recognitionRunning$ | async)" (click)="stop()">Stop Recognition</button>
        Recognition interval
        <input #intervalInput
               type="number"
               min="100"
               step="100"
               value="{{ captureInterval }}"
               (blur)="setCapturingInterval(intervalInput.value)"
               (keyup.enter)="setCapturingInterval(intervalInput.value)">MYVISION
        <ng-container *ngIf="personCollections$ | async as personCollections">
            <select *ngIf="personCollections.length > 1" (change)="selectPersonCollection($event.target.selectedIndex)">
                <option *ngFor="let collection of personCollections">
                    {{ collection.name }}
                </option>
            </select>
        </ng-container>
        <div *ngIf="(recognitionRunning$ | async) && captureInterval >= 1000">Time till next recognition {{ time$ |
            async }}s</div>
    </div>
</div>
