.person-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
    padding: 12px;

    .confidence {
        font-size: 12px;
        margin: 6px 0;
    }

    .identifier {
        font-size: 16px;
        font-weight: bold;
    }
}
